Repository OpenSlides/openslides-backend, pull requests merged in 2021-04, with the labels that each got.

#608 Add permissions to motion_submitter actions. Update tests.
  openslides_backend/action/actions/motion_submitter/create.py
  openslides_backend/action/actions/motion_submitter/delete.py
  openslides_backend/action/actions/motion_submitter/sort.py
  tests/system/action/motion_submitter/test_create.py
  tests/system/action/motion_submitter/test_delete.py
  tests/system/action/motion_submitter/test_sort.py
Labels: backend, permission

#617 Add permissions to motion_statute_paragraph. Update tests.
  openslides_backend/action/actions/motion_statute_paragraph/create_update_delete.py
  openslides_backend/action/actions/motion_statute_paragraph/sort.py
  tests/system/action/motion_statute_paragraph/test_create.py
  tests/system/action/motion_statute_paragraph/test_delete.py
  tests/system/action/motion_statute_paragraph/test_sort.py
  tests/system/action/motion_statute_paragraph/test_update.py
Labels: backend, permission

#625 Update list_of_speakers create closed default.
  openslides_backend/action/actions/list_of_speakers/create.py
  tests/system/action/assignment/test_create.py
Labels: backend

#622 issue595_projection_of_non_temporary_user
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/projector/project.py
  openslides_backend/action/util/assert_belongs_to_meeting.py
  tests/system/action/agenda_item/test_create.py
  tests/system/action/motion/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/projector/test_add_to_preview.py
  tests/system/action/projector/test_project.py
  tests/system/action/test_equal_fields_check.py
  tests/system/action/user/test_create_temporary.py
  tests/system/action/user/test_update_temporary.py
Labels: backend

#606 Add permissions to motion_comment_section actions. Update tests
  openslides_backend/action/actions/motion_comment_section/create.py
  openslides_backend/action/actions/motion_comment_section/delete.py
  openslides_backend/action/actions/motion_comment_section/sort.py
  openslides_backend/action/actions/motion_comment_section/update.py
  tests/system/action/motion_comment_section/test_create.py
  tests/system/action/motion_comment_section/test_delete.py
  tests/system/action/motion_comment_section/test_sort.py
  tests/system/action/motion_comment_section/test_update.py
Labels: backend, permission

#618 Add permissions to motion_state. Update tests.
  openslides_backend/action/actions/motion_state/create_update_delete.py
  tests/system/action/motion_state/test_create.py
  tests/system/action/motion_state/test_delete.py
  tests/system/action/motion_state/test_update.py
Labels: backend, permission

#626 Add explicit test for group meeting_ids for temporary users. Update t…
  openslides_backend/action/actions/user/temporary_user_mixin.py
  tests/system/action/user/test_create_temporary.py
  tests/system/action/user/test_update_temporary.py
Labels: backend

#603 Add permissions to list_of_speakers actions. Update tests.
  openslides_backend/action/action.py
  openslides_backend/action/actions/list_of_speakers/delete_all_speakers.py
  openslides_backend/action/actions/list_of_speakers/re_add_last.py
  openslides_backend/action/actions/list_of_speakers/update.py
  tests/system/action/list_of_speakers/test_delete_all_speakers.py
  tests/system/action/list_of_speakers/test_re_add_last.py
  tests/system/action/list_of_speakers/test_update.py
Labels: backend, permission

#560 Couple projector countdown to speaker speak/end_speech
  openslides_backend/action/actions/projector_countdown/mixins.py
  openslides_backend/action/actions/speaker/end_speech.py
  openslides_backend/action/actions/speaker/speak.py
  tests/system/action/speaker/test_end_speech.py
  tests/system/action/speaker/test_speak.py
Labels: backend

#620 Add permissions to motion_category. Update tests.
  openslides_backend/action/action.py
  openslides_backend/action/actions/motion_category/create_update_delete.py
  openslides_backend/action/actions/motion_category/number_motions.py
  openslides_backend/action/actions/motion_category/sort.py
  openslides_backend/action/actions/motion_category/sort_motions_in_category.py
  openslides_backend/action/actions/motion_submitter/sort.py
  tests/system/action/motion_category/test_create.py
  tests/system/action/motion_category/test_delete.py
  tests/system/action/motion_category/test_number_motions.py
  tests/system/action/motion_category/test_sort.py
  tests/system/action/motion_category/test_sort_motions_in_categories.py
  tests/system/action/motion_category/test_update.py
Labels: backend, permission

#623 Add permissions to motion_comment. Update tests.
  openslides_backend/action/actions/motion_comment/create_delete_update.py
  tests/system/action/motion_comment/test_create.py
  tests/system/action/motion_comment/test_delete.py
  tests/system/action/motion_comment/test_update.py
Labels: backend, permission

#631 Issue586 permissions temporary users
  openslides_backend/action/actions/user/check_temporary_mixin.py
  openslides_backend/action/actions/user/create_temporary.py
  openslides_backend/action/actions/user/delete_temporary.py
  openslides_backend/action/actions/user/generate_new_password_temporary.py
  openslides_backend/action/actions/user/reset_password_to_default_temporary.py
  openslides_backend/action/actions/user/set_password_temporary.py
  openslides_backend/action/actions/user/update_temporary.py
  tests/system/action/user/test_create_temporary.py
  tests/system/action/user/test_delete_temporary.py
  tests/system/action/user/test_generate_new_password_temporary.py
  tests/system/action/user/test_reset_password_to_default_temporary.py
  tests/system/action/user/test_set_password_temporary.py
  tests/system/action/user/test_update_temporary.py
Labels: backend, permission

#633 Issue588 permissions user self actions
  openslides_backend/action/actions/user/set_password_self.py
  openslides_backend/action/actions/user/update_self.py
  tests/system/action/base.py
  tests/system/action/user/test_set_password_self.py
  tests/system/action/user/test_update_self.py
  tests/system/action/user/test_update_temporary.py
Labels: backend, permission

#601 Issue445 validate vote delegations
  openslides_backend/action/actions/motion_state/create_update_delete.py
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_temporary.py
  openslides_backend/action/actions/user/temporary_user_mixin.py
  openslides_backend/action/actions/user/update.py
  openslides_backend/action/actions/user/update_self.py
  openslides_backend/action/actions/user/update_temporary.py
  openslides_backend/action/actions/user/user_mixin.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/action/util/assert_belongs_to_meeting.py
  tests/system/action/motion_state/test_create.py
  tests/system/action/projector/test_update.py
  tests/system/action/user/test_create_delegation.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_delegation.py
Labels: backend

#637 Update auth lib
  requirements.txt
Labels: backend

#636 Add permissions to projector and projection actions.
  openslides_backend/action/actions/projection/delete.py
  openslides_backend/action/actions/projector/add_to_preview.py
  openslides_backend/action/actions/projector/control_view.py
  openslides_backend/action/actions/projector/create.py
  openslides_backend/action/actions/projector/delete.py
  openslides_backend/action/actions/projector/next.py
  openslides_backend/action/actions/projector/previous.py
  openslides_backend/action/actions/projector/project.py
  openslides_backend/action/actions/projector/project_preview.py
  openslides_backend/action/actions/projector/sort_preview.py
  openslides_backend/action/actions/projector/update.py
  tests/system/action/projection/test_delete.py
  tests/system/action/projector/test_add_to_preview.py
  tests/system/action/projector/test_control_view.py
  tests/system/action/projector/test_create.py
  tests/system/action/projector/test_delete.py
  tests/system/action/projector/test_next.py
  tests/system/action/projector/test_previous.py
  tests/system/action/projector/test_project.py
  tests/system/action/projector/test_project_preview.py
  tests/system/action/projector/test_sort_preview.py
  tests/system/action/projector/test_update.py
Labels: backend, permission

#635 Add permissions to speaker, update tests.
  openslides_backend/action/actions/speaker/create_update_delete.py
  openslides_backend/action/actions/speaker/end_speech.py
  openslides_backend/action/actions/speaker/sort.py
  openslides_backend/action/actions/speaker/speak.py
  tests/system/action/speaker/test_create.py
  tests/system/action/speaker/test_delete.py
  tests/system/action/speaker/test_end_speech.py
  tests/system/action/speaker/test_sort.py
  tests/system/action/speaker/test_speak.py
  tests/system/action/speaker/test_update.py
Labels: backend, permission

#632 Add permissions to assignment_candidate. Update tests.
  openslides_backend/action/actions/assignment_candidate/create.py
  openslides_backend/action/actions/assignment_candidate/delete.py
  openslides_backend/action/actions/assignment_candidate/mixins.py
  openslides_backend/action/actions/assignment_candidate/sort.py
  tests/system/action/assignment_candidate/test_create.py
  tests/system/action/assignment_candidate/test_delete.py
  tests/system/action/assignment_candidate/test_sort.py
Labels: backend, permission

#641 Fix user update
  openslides_backend/action/actions/user/user_mixin.py
  tests/system/action/user/test_update.py
Labels: backend

#634 Add permissions to resource action and update tests.
  openslides_backend/action/actions/resource/delete.py
  openslides_backend/action/actions/resource/mixins.py
  openslides_backend/action/actions/resource/upload.py
  tests/system/action/resource/test_delete.py
  tests/system/action/resource/test_upload.py
Labels: backend, permission

#649 Issue647 initial param for reduce if used empty
  openslides_backend/action/actions/user/user_mixin.py
  openslides_backend/models/models.py
  tests/system/action/user/test_create.py
Labels: backend, bug

#638 Issue473 add projector relations to meeting.update
  openslides_backend/action/actions/meeting/__init__.py
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/meeting/delete.py
  openslides_backend/action/actions/meeting/shared_meeting.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/models/base.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_update.py
Labels: backend

#650 Draft version of projector.toggle_stable action. Update tests.
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/toggle_stable.py
  tests/system/action/projector/test_toggle_stable.py
Labels: backend, permission

#659 Generate default_password and/or store hashed_password.
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_temporary.py
  openslides_backend/action/actions/user/generate_new_password.py
  openslides_backend/action/actions/user/password_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_create_temporary.py
Labels: backend, bug

#663 Remove redundant line
  openslides_backend/action/actions/user/password_mixin.py
Labels: backend

#651 Add docstrings to datastore adapter methods
  openslides_backend/services/datastore/adapter.py
Labels: backend, documentation

#662 validate_required_fields checks required dependent from field-type
  openslides_backend/action/action.py
  openslides_backend/models/base.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_create.py
Labels: backend

#666 Add line validation to motion_change_recommendation.create
  openslides_backend/action/actions/motion_change_recommendation/create_update_delete.py
  tests/system/action/motion_change_recommendation/test_create.py
Labels: backend

#648 Add permissions to most poll und option actions.
  openslides_backend/action/actions/option/update.py
  openslides_backend/action/actions/poll/anonymize.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/delete.py
  openslides_backend/action/actions/poll/mixins.py
  openslides_backend/action/actions/poll/publish.py
  openslides_backend/action/actions/poll/reset.py
  openslides_backend/action/actions/poll/start.py
  openslides_backend/action/actions/poll/stop.py
  openslides_backend/action/actions/poll/update.py
  tests/system/action/option/test_update.py
  tests/system/action/poll/test_anonymize.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_delete.py
  tests/system/action/poll/test_publish.py
  tests/system/action/poll/test_reset.py
  tests/system/action/poll/test_start.py
  tests/system/action/poll/test_stop.py
  tests/system/action/poll/test_update.py
Labels: backend, permission

#668 Remove unneeded presenters
  openslides_backend/presenter/__init__.py
  openslides_backend/presenter/initial_data.py
  openslides_backend/presenter/whoami.py
  tests/system/presenter/test_initial_data.py
  tests/system/presenter/test_whoami.py
Labels: backend, clean up

#669 Add get_forwarding_meetings presenter.
  openslides_backend/presenter/__init__.py
  openslides_backend/presenter/base.py
  openslides_backend/presenter/get_forwarding_meetings.py
  openslides_backend/presenter/presenter.py
  tests/system/presenter/base.py
  tests/system/presenter/test_get_forwarding_meetings.py
Labels: backend

#655 Add user token feature and update model
  openslides_backend/action/actions/option/create.py
  openslides_backend/action/actions/option/update.py
  openslides_backend/action/actions/poll/vote.py
  openslides_backend/action/actions/vote/create.py
  openslides_backend/action/actions/vote/user_token_helper.py
  openslides_backend/models/models.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_vote.py
  tests/system/action/vote/test_create.py
Labels: backend

#673 Add calculation of is_pseudoanonymized to anonymize, create and reset.
  openslides_backend/action/actions/poll/anonymize.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/reset.py
  tests/system/action/poll/test_anonymize.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_reset.py
Labels: backend

#643 Add permissions to motion actions and update tests.
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion/delete.py
  openslides_backend/action/actions/motion/follow_recommendation.py
  openslides_backend/action/actions/motion/mixins.py
  openslides_backend/action/actions/motion/reset_recommendation.py
  openslides_backend/action/actions/motion/reset_state.py
  openslides_backend/action/actions/motion/set_recommendation.py
  openslides_backend/action/actions/motion/set_state.py
  openslides_backend/action/actions/motion/set_support_self.py
  openslides_backend/action/actions/motion/sort.py
  openslides_backend/action/actions/motion/update.py
  tests/system/action/motion/test_create.py
  tests/system/action/motion/test_delete.py
  tests/system/action/motion/test_follow_recommendation.py
  tests/system/action/motion/test_reset_recommendation.py
  tests/system/action/motion/test_reset_state.py
  tests/system/action/motion/test_set_recommendation.py
  tests/system/action/motion/test_set_state.py
  tests/system/action/motion/test_set_support_self.py
  tests/system/action/motion/test_sort.py
  tests/system/action/motion/test_update.py
Labels: backend, permission

#678 Add test for projector.project. Try to set a content_object_id user/0
  tests/system/action/projector/test_project.py
Labels: backend

#691 Update models.
  openslides_backend/models/models.py
Labels: backend

#689 Update projector.project
  openslides_backend/action/actions/projector/project.py
  tests/system/action/projector/test_project.py
Labels: backend

#640 Issue587 permissions user see restructuring and integration OrganisationManagementLevel
  cli/generate_permissions.py
  openslides_backend/action/action.py
  openslides_backend/action/actions/motion/delete.py
  openslides_backend/action/actions/motion/set_state.py
  openslides_backend/action/actions/motion/update.py
  openslides_backend/action/actions/resource/mixins.py
  openslides_backend/action/actions/user/__init__.py
  openslides_backend/action/actions/user/check_temporary_mixin.py
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/action/actions/user/delete.py
  openslides_backend/action/actions/user/delete_temporary.py
  openslides_backend/action/actions/user/generate_new_password.py
  openslides_backend/action/actions/user/generate_new_password_temporary.py
  openslides_backend/action/actions/user/merge_to_non_temporary.py
  openslides_backend/action/actions/user/reset_password_to_default.py
  openslides_backend/action/actions/user/reset_password_to_default_temporary.py
  openslides_backend/action/actions/user/set_password.py
  openslides_backend/action/actions/user/set_password_self.py
  openslides_backend/action/actions/user/set_password_temporary.py
  openslides_backend/action/actions/user/update.py
  openslides_backend/action/actions/user/update_self.py
  openslides_backend/action/actions/user/update_temporary.py
  openslides_backend/permissions/management_levels.py
  openslides_backend/permissions/permission_helper.py
  openslides_backend/permissions/permissions.py
  tests/system/action/base.py
  tests/system/action/resource/test_delete.py
  tests/system/action/resource/test_upload.py
  tests/system/action/test_permissions.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_delete.py
  tests/system/action/user/test_delete_temporary.py
  tests/system/action/user/test_generate_new_password.py
  tests/system/action/user/test_generate_new_password_temporary.py
  tests/system/action/user/test_merge_to_non_temporary.py
  tests/system/action/user/test_reset_password_to_default.py
  tests/system/action/user/test_reset_password_to_default_temporary.py
  tests/system/action/user/test_set_password.py
  tests/system/action/user/test_set_password_self.py
  tests/system/action/user/test_set_password_temporary.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_temporary.py
  tests/unit/test_permissions.py
Labels: backend, permission

#690 Use a better random lib: secrets.
  openslides_backend/action/actions/user/password_mixin.py
  openslides_backend/action/actions/vote/user_token_helper.py
  openslides_backend/action/util/crypto.py
Labels: backend

#692 Add the point of order checks to los.re-add-last. Add two tests.
  openslides_backend/action/actions/list_of_speakers/re_add_last.py
  tests/system/action/list_of_speakers/test_re_add_last.py
Labels: backend
