Repository OpenSlides/openslides-backend, pull requests merged in 2021-07, with the labels that each got.

#805 Add speech_state to speaker.create and checks.
  openslides_backend/action/actions/speaker/create.py
  openslides_backend/action/actions/speaker/mixins.py
  openslides_backend/action/actions/speaker/update.py
  tests/system/action/speaker/test_create.py
Labels: backend, bug

#786 Add test updating user and meeting
  openslides_backend/action/actions/meeting/update.py
  tests/system/action/meeting/test_update.py
Labels: backend

#703 Install reader pip package
  .github/workflows/continuous_integration.yml
  Dockerfile
  Makefile
  dev/Dockerfile-dev
  dev/database.env
  dev/docker-compose.dev.yml
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/motion/sequential_numbers_mixin.py
  openslides_backend/action/relations/meeting_user_ids_handler.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/action/relations/user_meeting_ids_handler.py
  openslides_backend/presenter/get_users.py
  openslides_backend/presenter/presenter.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/commands.py
  openslides_backend/services/datastore/deleted_models_behaviour.py
  openslides_backend/services/datastore/handle_datastore_errors.py
  openslides_backend/services/datastore/http_engine.py
  openslides_backend/services/datastore/interface.py
  openslides_backend/services/datastore/with_database_context.py
  openslides_backend/shared/filters.py
  requirements.txt
  setup.cfg
  tests/__init__.py
  tests/system/action/agenda_item/test_numbering.py
  tests/system/action/base.py
  tests/system/action/user/test_update.py
  tests/system/base.py
  tests/system/relations/setup.py
  tests/system/relations/test_generic_relations.py
  tests/system/relations/test_relations.py
  tests/system/relations/test_structured_relations.py
  tests/system/test_database_adapter.py
  tests/unit/services/__init__.py
  tests/unit/services/test_authentication_adapter.py
  tests/unit/services/test_database_adapter.py
  tests/util.py
Labels: backend

#814 Add meeting.delete test and fix many related errors
  openslides_backend/action/actions/mediafile/delete.py
  openslides_backend/action/actions/meeting/delete.py
  openslides_backend/action/actions/motion_workflow/delete.py
  openslides_backend/action/actions/projector/delete.py
  openslides_backend/action/actions/projector_countdown/delete.py
  openslides_backend/action/generics/delete.py
  openslides_backend/models/base.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_delete.py
  tests/system/base.py
Labels: backend

#821 Add projection.update_options action.
  openslides_backend/action/actions/projection/__init__.py
  openslides_backend/action/actions/projection/update_options.py
  tests/system/action/projection/test_update_options.py
Labels: backend

#823 Update Datastore Library
  .github/workflows/continuous_integration.yml
  Dockerfile
  Makefile
  dev/Dockerfile-dev
  dev/database.env
  dev/docker-compose.dev.yml
  dev/run-tests.sh
  entrypoint.sh
  openslides_backend/__init__.py
  openslides_backend/action/actions/motion/sequential_numbers_mixin.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/presenter/get_users.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/handle_datastore_errors.py
  openslides_backend/services/datastore/interface.py
  openslides_backend/shared/filters.py
  requirements.txt
  setup.cfg
  tests/__init__.py
  tests/system/base.py
Labels: backend

#825 Adjust locking
  openslides_backend/action/actions/option/update.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  tests/system/action/option/test_update.py
Labels: backend, bug

#834 Update README
  README.md
Labels: backend

#828 Fix follow_recommendation error and add test
  openslides_backend/action/actions/motion/follow_recommendation.py
  tests/system/action/motion/test_follow_recommendation.py
Labels: backend, bug

#831 Prevent the use of entitled_group_ids if type is analog.
  openslides_backend/action/actions/poll/create.py
  tests/system/action/poll/test_create.py
Labels: backend

#835 Add a check for 100_percent_base entitled and type analog.
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/update.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_update.py
Labels: backend

#840 Generate models and update the actions/tests.
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/update.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_import.py
  tests/system/action/option/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_update.py
  tests/system/base.py
  tests/system/presenter/test_get_users.py
Labels: backend

#845 Meeting update conference enable helpdesk
  openslides_backend/action/actions/meeting/update.py
  tests/system/action/meeting/test_update.py
Labels: backend, feature, high

#844 Add applause fields to meeting.update
  openslides_backend/action/actions/meeting/update.py
  tests/system/action/meeting/test_update.py
Labels: backend, feature, high

#826 Data validation import
  cli/check_json.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_import.py
Labels: backend

#838 Add check for default_meeting and template_meeting.
  openslides_backend/action/actions/committee/update.py
  tests/system/action/committee/test_update.py
Labels: backend

#837 Add blob handling to meeting.import.
  openslides_backend/action/actions/meeting/import_.py
  tests/system/action/meeting/test_import.py
Labels: backend

#839 In check unique title ignore updated countdown.
  openslides_backend/action/actions/projector_countdown/update.py
  tests/system/action/projector_countdown/test_update.py
Labels: backend, bug

#829 Adds some new settings for conferences and applauses
  openslides_backend/action/actions/meeting/update.py
Labels: backend, high

#848 Moved datastore import, so it is not needed outside the service and t…
  openslides_backend/__init__.py
  openslides_backend/main.py
  tests/__init__.py
Labels: backend

#841 Fix user.delete & restructure some import tests
  cli/generate_models.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/action/generics/delete.py
  openslides_backend/models/checker.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  tests/system/action/agenda_item/test_numbering.py
  tests/system/action/meeting/test_import.py
  tests/system/action/user/test_delete.py
Labels: backend, bug, high

#858 Use generate-models to update the models.
  openslides_backend/models/models.py
Labels: backend

#853 Add a check for recommendation_extension in the datavalidator.
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_import.py
Labels: backend

#857 Add perm cleanup to group.create and group.set_permission.
  openslides_backend/action/actions/group/create.py
  openslides_backend/action/actions/group/set_permission.py
  openslides_backend/permissions/permission_helper.py
  tests/system/action/group/test_create.py
Labels: backend

#852 Add check for required fields and update the tests.
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_import.py
Labels: backend

#860 Add manager_ids to committee.create.
  openslides_backend/action/actions/committee/create.py
  tests/system/action/committee/test_create.py
Labels: backend, high

#863 Add enum to user/gender allowing (male, female, diverse)
  openslides_backend/models/models.py
  tests/system/action/meeting/test_import.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/system/base.py
Labels: backend

#870 Update models
  openslides_backend/models/models.py
Labels: backend

#866 Add manager_ids to committee.update.
  openslides_backend/action/actions/committee/committee_common_mixin.py
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/group/set_permission.py
  openslides_backend/action/actions/poll/anonymize.py
  openslides_backend/action/generics/update.py
  tests/system/action/committee/test_update.py
Labels: backend, high

#843 Add calc fields for motion.create_forwarded.
  openslides_backend/action/actions/motion/__init__.py
  openslides_backend/action/actions/motion/create_forwarded.py
  openslides_backend/action/actions/motion/update_all_derived_motion_ids.py
  tests/system/action/motion/test_create_forwarded.py
Labels: backend, high

#862 Add admin_ids to meeting.create, add oml check to has_cml.
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/permissions/permission_helper.py
  tests/system/action/meeting/test_create.py
Labels: backend, bug, high

#873 Issue868 Fix missing is_present_in_meetings and can_change_own_password
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/action/actions/user/update.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
Labels: backend

#874 Add weight to motion_submitter.
  openslides_backend/action/actions/motion/create_base.py
  openslides_backend/action/actions/motion_submitter/create.py
  openslides_backend/models/models.py
  tests/system/action/motion/test_create.py
  tests/system/action/motion_submitter/test_create.py
Labels: backend, bug

#880 Add permissions to presenter get_users. Add some tests.
  openslides_backend/presenter/get_users.py
  tests/system/presenter/test_get_users.py
Labels: backend
