Repository OpenSlides/openslides-backend, pull requests merged in 2021-03, with the labels that each got.

#484 Add checks for replacement for structured fields + tests
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_temporary.py
  tests/system/relations/setup.py
  tests/system/relations/test_template_fields.py
Labels: backend

#503 Add projector.next action + tests.
  openslides_backend/action/actions/projection/__init__.py
  openslides_backend/action/actions/projection/set_weight.py
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/next.py
  tests/system/action/projection/test_set_weight.py
  tests/system/action/projector/test_next.py
Labels: backend

#430 validate_required_fields, incl. (adapted) tests
  openslides_backend/action/action.py
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/agenda_item/agenda_creation.py
  openslides_backend/action/actions/agenda_item/delete.py
  openslides_backend/action/actions/group/create.py
  openslides_backend/action/actions/list_of_speakers/list_of_speakers_creation.py
  openslides_backend/action/actions/mediafile/upload.py
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/generics/delete.py
  openslides_backend/action/mixins/create_action_with_dependencies.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/models/base.py
  openslides_backend/shared/exceptions.py
  tests/system/action/mediafile/test_update.py
  tests/system/action/mediafile/test_upload.py
  tests/system/action/meeting/test_create.py
  tests/system/action/motion/test_create_sequential_number.py
  tests/system/action/poll/test_create.py
  tests/system/action/test_action_command_format.py
  tests/system/action/test_create_relation.py
  tests/system/action/test_delete_cascade.py
  tests/system/action/test_update_relation.py
  tests/system/relations/setup.py
Labels: backend

#486 Issue109 meeting.create
  openslides_backend/action/action.py
  openslides_backend/action/actions/meeting/create_update_delete.py
  openslides_backend/action/actions/meeting/shared_meeting.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/actions/projector/create.py
  openslides_backend/action/actions/projector/update.py
  openslides_backend/action/generics/create.py
  openslides_backend/action/generics/update.py
  openslides_backend/action/relations/meeting_user_ids_handler.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/deleted_models_behaviour.py
  openslides_backend/services/datastore/interface.py
  tests/system/action/meeting/test_create.py
  tests/system/action/motion_workflow/test_create.py
  tests/system/action/projector/test_create.py
  tests/system/action/projector/test_update.py
  tests/system/action/test_action_command_format.py
  tests/system/test_database_adapter.py
Labels: backend

#515 Rename payload to action_data
  openslides_backend/action/action.py
  openslides_backend/action/actions/agenda_item/agenda_creation.py
  openslides_backend/action/actions/agenda_item/assign.py
  openslides_backend/action/actions/agenda_item/create.py
  openslides_backend/action/actions/agenda_item/numbering.py
  openslides_backend/action/actions/agenda_item/sort.py
  openslides_backend/action/actions/agenda_item/update.py
  openslides_backend/action/actions/assignment_candidate/sort.py
  openslides_backend/action/actions/group/set_permission.py
  openslides_backend/action/actions/list_of_speakers/delete_all_speakers.py
  openslides_backend/action/actions/list_of_speakers/list_of_speakers_creation.py
  openslides_backend/action/actions/mediafile/delete.py
  openslides_backend/action/actions/mediafile/move.py
  openslides_backend/action/actions/meeting/create_update_delete.py
  openslides_backend/action/actions/meeting/delete_all_speakers_of_all_lists.py
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion/follow_recommendation.py
  openslides_backend/action/actions/motion/set_support_self.py
  openslides_backend/action/actions/motion/sort.py
  openslides_backend/action/actions/motion_category/number_motions.py
  openslides_backend/action/actions/motion_category/sort.py
  openslides_backend/action/actions/motion_category/sort_motions_in_category.py
  openslides_backend/action/actions/motion_comment_section/sort.py
  openslides_backend/action/actions/motion_statute_paragraph/sort.py
  openslides_backend/action/actions/motion_submitter/sort.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/actions/option/create.py
  openslides_backend/action/actions/option/update.py
  openslides_backend/action/actions/poll/anonymize.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/reset.py
  openslides_backend/action/actions/poll/vote.py
  openslides_backend/action/actions/projector/next.py
  openslides_backend/action/actions/resource/upload.py
  openslides_backend/action/actions/speaker/create_update_delete.py
  openslides_backend/action/actions/speaker/end_speech.py
  openslides_backend/action/actions/speaker/sort.py
  openslides_backend/action/actions/speaker/speak.py
  openslides_backend/action/actions/topic/create.py
  openslides_backend/action/actions/user/set_present.py
  openslides_backend/action/actions/user/temporary_user_mixin.py
  openslides_backend/action/generics/delete.py
  openslides_backend/action/mixins/create_action_with_dependencies.py
  openslides_backend/action/mixins/create_action_with_inferred_meeting.py
  openslides_backend/action/mixins/singular_action_mixin.py
  openslides_backend/action/util/default_schema.py
  openslides_backend/action/util/typing.py
  tests/system/action/agenda_item/test_assign.py
  tests/system/action/mediafile/test_move.py
  tests/system/action/meeting/test_create.py
  tests/system/action/test_create_relation.py
Labels: backend, clean up

#517 Implemented Collection field locking with filters
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/commands.py
  openslides_backend/services/datastore/interface.py
  openslides_backend/shared/interfaces/collection_field_lock.py
  openslides_backend/shared/interfaces/write_request.py
Labels: backend

#540 Fix action results
  openslides_backend/action/action.py
  openslides_backend/action/actions/resource/upload.py
  tests/system/action/base.py
Labels: backend, bug

#528 More expressive error message for Assignment is not a valid option fo…
  openslides_backend/action/relations/single_relation_handler.py
  tests/system/action/poll/test_create.py
Labels: backend

#536 Add projector message create/delete/update actions and tests.
  openslides_backend/action/actions/__init__.py
  openslides_backend/action/actions/projector_message/__init__.py
  openslides_backend/action/actions/projector_message/create.py
  openslides_backend/action/actions/projector_message/delete.py
  openslides_backend/action/actions/projector_message/update.py
  tests/system/action/projector_message/__init__.py
  tests/system/action/projector_message/test_create.py
  tests/system/action/projector_message/test_delete.py
  tests/system/action/projector_message/test_update.py
Labels: backend

#502 Check new defined uniqueness of poll.options
  openslides_backend/action/actions/poll/create.py
  tests/system/action/poll/test_create.py
Labels: backend

#539 Use exec format
  dev/Dockerfile-dev
Labels: backend

#535 Add projector.project_preview and tests.
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/project_preview.py
  tests/system/action/projector/test_project_preview.py
Labels: backend

#527 Motion workflow schema without first state
  openslides_backend/action/actions/motion_workflow/create.py
  tests/system/action/motion_state/test_create.py
Labels: backend

#534 Add projector.previous action and tests.
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/previous.py
  tests/system/action/poll/test_create.py
  tests/system/action/projector/test_previous.py
Labels: backend

#545 Merge motion.update_metadata into motion.update
  openslides_backend/action/actions/motion/__init__.py
  openslides_backend/action/actions/motion/update.py
  openslides_backend/action/actions/motion/update_metadata.py
  tests/system/action/motion/test_update.py
  tests/system/action/motion/test_update_metadata.py
Labels: backend

#530 Poll change state after some actions
  openslides_backend/action/actions/option/update.py
  openslides_backend/action/actions/poll/__init__.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/set_state.py
  openslides_backend/action/actions/poll/update.py
  tests/system/action/option/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_set_state.py
  tests/system/action/poll/test_update.py
Labels: backend

#553 Add projector.sort_preview and tests.
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/sort_preview.py
  tests/system/action/projector/test_sort_preview.py
Labels: backend

#543 Implement equal_fields check for users
  openslides_backend/action/action.py
  openslides_backend/action/actions/user/temporary_user_mixin.py
  openslides_backend/action/generics/create.py
  openslides_backend/action/generics/delete.py
  openslides_backend/action/generics/update.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/action/relations/typing.py
  openslides_backend/action/util/assert_belongs_to_meeting.py
  openslides_backend/models/models.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/shared/patterns.py
  tests/system/action/agenda_item/test_create.py
  tests/system/action/mediafile/test_update.py
  tests/system/action/motion/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/speaker/test_create.py
  tests/system/action/speaker/test_create_point_of_order.py
  tests/system/action/test_equal_fields_check.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_create_temporary.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_temporary.py
  tests/system/relations/test_template_fields.py
Labels: backend

#552 Add projector.add_to_preview and tests.
  openslides_backend/action/actions/projection/__init__.py
  openslides_backend/action/actions/projection/create.py
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/add_to_preview.py
  tests/system/action/projector/test_add_to_preview.py
Labels: backend

#554 Update models & some cleanup
  openslides_backend/models/models.py
  tests/system/action/motion_workflow/test_create.py
  tests/system/action/organisation/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_publish.py
  tests/system/action/poll/test_start.py
  tests/system/action/poll/test_stop.py
  tests/system/action/poll/test_update.py
  tests/system/action/poll/test_vote.py
  tests/system/action/projection/test_delete.py
  tests/system/action/projector/test_add_to_preview.py
  tests/system/action/projector/test_control_view.py
  tests/system/action/projector/test_project_preview.py
  tests/system/action/projector/test_sort_preview.py
  tests/system/action/projector/test_update.py
  tests/system/action/speaker/test_create.py
  tests/system/action/test_update_relation.py
  tests/system/presenter/test_get_users.py
  tests/system/relations/setup.py
  tests/system/relations/test_generic_relations.py
  tests/system/relations/test_relations.py
  tests/system/relations/test_structured_relations.py
  tests/system/relations/test_template_fields.py
Labels: backend, clean up

#537 Add check for min/max of votes totals.
  openslides_backend/action/actions/poll/vote.py
  tests/system/action/poll/test_vote.py
Labels: backend

#516 Implement backend permission check
  Makefile
  cli/generate_permissions.py
  openslides_backend/action/action.py
  openslides_backend/action/action_set.py
  openslides_backend/action/actions/tag/create_update_delete.py
  openslides_backend/action/mixins/create_action_with_inferred_meeting.py
  openslides_backend/action/util/register.py
  openslides_backend/models/fields.py
  openslides_backend/permissions/__init__.py
  openslides_backend/permissions/get_permission_parts.py
  openslides_backend/permissions/permission_helper.py
  openslides_backend/permissions/permissions.py
  setup.cfg
  tests/system/action/base.py
  tests/system/action/tag/test_create.py
  tests/system/action/tag/test_delete.py
  tests/system/action/tag/test_update.py
  tests/system/action/test_permissions.py
  tests/system/base.py
  tests/unit/test_permission_helper.py
  tests/util.py
Labels: backend, permission

#556 Implement check to assert uniqueness of usernames
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_temporary.py
  openslides_backend/action/actions/user/update.py
  openslides_backend/action/actions/user/update_self.py
  openslides_backend/action/actions/user/update_temporary.py
  openslides_backend/action/actions/user/user_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_create_temporary.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_self.py
  tests/system/action/user/test_update_temporary.py
Labels: backend

#544 Add projector_countdown create/update/delete and tests
  openslides_backend/action/actions/__init__.py
  openslides_backend/action/actions/projector_countdown/__init__.py
  openslides_backend/action/actions/projector_countdown/create.py
  openslides_backend/action/actions/projector_countdown/delete.py
  openslides_backend/action/actions/projector_countdown/update.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  tests/system/action/projector_countdown/__init__.py
  tests/system/action/projector_countdown/test_create.py
  tests/system/action/projector_countdown/test_delete.py
  tests/system/action/projector_countdown/test_update.py
Labels: backend

#551 cache_layer_datastore (from projector delete)
  openslides_backend/action/action.py
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/agenda_item/delete.py
  openslides_backend/action/actions/list_of_speakers/delete_all_speakers.py
  openslides_backend/action/actions/meeting/__init__.py
  openslides_backend/action/actions/meeting/create_update_delete.py
  openslides_backend/action/actions/meeting/replace_projector_id.py
  openslides_backend/action/actions/meeting/shared_meeting.py
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/actions/motion_workflow/delete.py
  openslides_backend/action/actions/option/create.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/delete.py
  openslides_backend/action/actions/speaker/create_update_delete.py
  openslides_backend/action/actions/speaker/end_speech.py
  openslides_backend/action/actions/speaker/sort.py
  openslides_backend/action/actions/speaker/speak.py
  openslides_backend/action/generics/create.py
  openslides_backend/action/generics/delete.py
  openslides_backend/action/generics/update.py
  openslides_backend/action/mixins/create_action_with_dependencies.py
  openslides_backend/action/mixins/create_action_with_inferred_meeting.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/action/util/assert_belongs_to_meeting.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_replace_projector_id.py
  tests/system/action/poll/test_anonymize.py
  tests/system/action/poll/test_vote.py
  tests/system/action/projector/test_add_to_preview.py
  tests/system/action/projector/test_delete.py
  tests/system/action/test_action_command_format.py
  tests/system/test_database_adapter.py
Labels: backend

#555 Check read_only in schema creation
  openslides_backend/models/base.py
  tests/unit/test_model.py
Labels: backend

#559 Issue520 Return value of execute_other_action without write_request
  openslides_backend/action/action.py
  openslides_backend/action/actions/meeting/create_update_delete.py
  openslides_backend/action/actions/motion_workflow/create.py
Labels: backend

#549 Add projector.project action and tests.
  openslides_backend/action/actions/projection/__init__.py
  openslides_backend/action/actions/projection/set_weight.py
  openslides_backend/action/actions/projection/update.py
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/next.py
  openslides_backend/action/actions/projector/previous.py
  openslides_backend/action/actions/projector/project.py
  openslides_backend/action/actions/projector/project_preview.py
  openslides_backend/action/actions/projector/sort_preview.py
  tests/system/action/projection/test_create.py
  tests/system/action/projection/test_set_weight.py
  tests/system/action/projection/test_update.py
  tests/system/action/projector/test_project.py
Labels: backend

#562 Update models.
  openslides_backend/models/models.py
Labels: backend

#563 Add creation of two default projector countdowns.
  openslides_backend/action/actions/meeting/create_update_delete.py
  openslides_backend/action/actions/projector_countdown/create.py
  tests/system/action/meeting/test_create.py
Labels: backend

#597 Add permision check to assignment.
  openslides_backend/action/actions/assignment/create_update_delete.py
  tests/system/action/assignment/test_create.py
  tests/system/action/assignment/test_delete.py
  tests/system/action/assignment/test_update.py
  tests/system/action/base.py
Labels: backend

#600 Add permissions to motion_workflow and update tests.
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/actions/motion_workflow/delete.py
  openslides_backend/action/actions/motion_workflow/update.py
  tests/system/action/motion_workflow/test_create.py
  tests/system/action/motion_workflow/test_delete.py
  tests/system/action/motion_workflow/test_update.py
Labels: backend

#602 Add permissions to group. Update tests.
  openslides_backend/action/actions/group/create.py
  openslides_backend/action/actions/group/delete.py
  openslides_backend/action/actions/group/set_permission.py
  openslides_backend/action/actions/group/update.py
  tests/system/action/group/test_create.py
  tests/system/action/group/test_delete.py
  tests/system/action/group/test_set_permission.py
  tests/system/action/group/test_update.py
Labels: backend

#604 Projection of a meeting fails
  openslides_backend/action/actions/projector/project.py
  openslides_backend/action/util/assert_belongs_to_meeting.py
  tests/system/action/projector/test_project.py
Labels: backend

#607 issue 594 define schema for JSONField
  openslides_backend/models/fields.py
  tests/system/action/organisation/test_update.py
  tests/system/action/projection/test_create.py
  tests/system/action/projector/test_project.py
Labels: backend

#616 Refine base_permission_test and update the permission tests.
  tests/system/action/agenda_item/test_assign.py
  tests/system/action/agenda_item/test_create.py
  tests/system/action/agenda_item/test_delete.py
  tests/system/action/agenda_item/test_numbering.py
  tests/system/action/agenda_item/test_sort.py
  tests/system/action/agenda_item/test_update.py
  tests/system/action/assignment/test_create.py
  tests/system/action/assignment/test_delete.py
  tests/system/action/assignment/test_update.py
  tests/system/action/base.py
  tests/system/action/group/test_create.py
  tests/system/action/group/test_delete.py
  tests/system/action/group/test_set_permission.py
  tests/system/action/group/test_update.py
  tests/system/action/motion_block/test_create.py
  tests/system/action/motion_block/test_delete.py
  tests/system/action/motion_block/test_update.py
  tests/system/action/motion_workflow/test_create.py
  tests/system/action/motion_workflow/test_delete.py
  tests/system/action/motion_workflow/test_update.py
Labels: backend

#605 Add permissions to mediafile. Update tests.
  openslides_backend/action/actions/mediafile/create_directory.py
  openslides_backend/action/actions/mediafile/delete.py
  openslides_backend/action/actions/mediafile/move.py
  openslides_backend/action/actions/mediafile/update.py
  openslides_backend/action/actions/mediafile/upload.py
  tests/system/action/mediafile/test_create_directory.py
  tests/system/action/mediafile/test_delete.py
  tests/system/action/mediafile/test_move.py
  tests/system/action/mediafile/test_update.py
  tests/system/action/mediafile/test_upload.py
Labels: backend, permission

#621 Add permissions to projector_message. Update tests.
  openslides_backend/action/actions/projector_message/create.py
  openslides_backend/action/actions/projector_message/delete.py
  openslides_backend/action/actions/projector_message/update.py
  tests/system/action/projector_message/test_create.py
  tests/system/action/projector_message/test_delete.py
  tests/system/action/projector_message/test_update.py
Labels: backend, permission

#624 Add permissions to projector_countdown. Update tests.
  openslides_backend/action/actions/projector_countdown/create.py
  openslides_backend/action/actions/projector_countdown/delete.py
  openslides_backend/action/actions/projector_countdown/update.py
  tests/system/action/projector_countdown/test_create.py
  tests/system/action/projector_countdown/test_delete.py
  tests/system/action/projector_countdown/test_update.py
Labels: backend, permission
