Repository OpenSlides/openslides-backend, pull requests merged in 2021-11, with the labels that each got.

#1007 Issue899 test archived meetings
  tests/system/action/test_archived_meeting.py
Labels: backend

#1010 value of user.last_email_send must be an int
  openslides_backend/action/actions/user/send_invitation_email.py
  tests/system/action/user/test_send_invitation_email.py
Labels: backend

#677 Add vote service
  dev/docker-compose.dev.yml
  openslides_backend/action/action.py
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/option/create.py
  openslides_backend/action/actions/option/update.py
  openslides_backend/action/actions/poll/__init__.py
  openslides_backend/action/actions/poll/mixins.py
  openslides_backend/action/actions/poll/reset.py
  openslides_backend/action/actions/poll/start.py
  openslides_backend/action/actions/poll/stop.py
  openslides_backend/action/actions/poll/vote.py
  openslides_backend/action/actions/vote/create.py
  openslides_backend/environment.py
  openslides_backend/http/views.py
  openslides_backend/services/vote/__init__.py
  openslides_backend/services/vote/adapter.py
  openslides_backend/services/vote/interface.py
  openslides_backend/shared/exceptions.py
  openslides_backend/shared/interfaces/services.py
  openslides_backend/wsgi.py
  tests/system/action/base.py
  tests/system/action/poll/test_publish.py
  tests/system/action/poll/test_reset.py
  tests/system/action/poll/test_start.py
  tests/system/action/poll/test_stop.py
  tests/system/action/poll/test_vote.py
  tests/system/action/user/test_send_invitation_email.py
  tests/system/action/vote/test_create.py
  tests/system/base.py
  tests/system/presenter/test_check_mediafile_id.py
  tests/system/presenter/test_get_users.py
  tests/system/util.py
  tests/util.py
Labels: backend

#1015 Add test to execute migrations on sql dump
  migrations/migrate.py
  migrations/tests/test_with_sql_dump.py
Labels: backend

#1016 Update datastore
  requirements.txt
Labels: backend, dependencies

#921 Add migration route
  Makefile
  migrations/__init__.py
  migrations/migrate.py
  openslides_backend/http/application.py
  openslides_backend/http/views.py
  openslides_backend/http/views/__init__.py
  openslides_backend/http/views/action_view.py
  openslides_backend/http/views/base_view.py
  openslides_backend/http/views/presenter_view.py
  openslides_backend/main.py
  openslides_backend/services/datastore/commands.py
  openslides_backend/shared/interfaces/write_request.py
  openslides_backend/shared/interfaces/wsgi.py
  tests/integration/test_exceptions.py
  tests/system/action/base.py
  tests/system/action/motion/test_create_sequential_number.py
  tests/system/action/test_general.py
  tests/system/presenter/base.py
  tests/system/presenter/test_check_mediafile_id.py
  tests/system/presenter/test_check_resource_id.py
  tests/system/presenter/test_general.py
Labels: backend

#1009 Issue1008 Move models.yml and co from openslides to openslides-backend
  .github/workflows/continuous_integration.yml
  Makefile
  README.md
  cli/generate_models.py
  cli/generate_permissions.py
  cli/modelsvalidator/requirements.txt
  cli/modelsvalidator/setup.cfg
  cli/modelsvalidator/validate.py
  dev/docker-compose.dev.yml
  global/data/example-data.json
  global/data/initial-data.json
  global/meta/models.yml
  global/meta/permission.yml
  openslides_backend/action/action.py
  openslides_backend/action/actions/organization/initial_import.py
  openslides_backend/models/checker.py
  openslides_backend/models/fields.py
  openslides_backend/models/models.py
  openslides_backend/permissions/permissions.py
  openslides_backend/shared/patterns.py
  openslides_backend/shared/schema.py
  openslides_backend/shared/util.py
  tests/system/action/meeting/test_import.py
  tests/system/action/organization/test_initial_import.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/system/base.py
  tests/system/presenter/test_get_user_related_models.py
Labels: backend

#1017 Fix routes to include the service as a prefix
  openslides_backend/http/views/base_view.py
  tests/system/action/base.py
  tests/system/action/motion/test_create_sequential_number.py
  tests/system/action/poll/test_vote.py
  tests/system/action/test_general.py
  tests/system/presenter/base.py
  tests/system/presenter/test_general.py
  tests/system/util.py
  tests/util.py
Labels: bug, high, backend

#1011 Add user.forget_password and user.forget_password_confirm
  openslides_backend/action/actions/user/__init__.py
  openslides_backend/action/actions/user/forget_password.py
  openslides_backend/action/actions/user/forget_password_confirm.py
  openslides_backend/action/mixins/send_email_mixin.py
  openslides_backend/http/application.py
  openslides_backend/services/auth/adapter.py
  openslides_backend/services/auth/interface.py
  openslides_backend/services/vote/adapter.py
  requirements.txt
  setup.cfg
  tests/system/action/mail_base.py
  tests/system/action/user/test_forget_password.py
  tests/system/action/user/test_forget_password_confirm.py
  tests/system/action/user/test_send_invitation_email.py
  tests/util.py
Labels: high, backend, feature

#1023 Fix to the two users forget password test.
  tests/system/action/user/test_forget_password.py
Labels: bug, high, backend

#1021 Add some meeting defaults to models and meeting.create.
  global/meta/models.yml
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_create.py
Labels: high, backend

#1020 Add some tests for user delete with submitter/candidate.
  global/meta/models.yml
  openslides_backend/models/models.py
  tests/system/action/user/test_delete.py
Labels: bug, high, backend

#1034 Issue1026 poll vote count
  global/meta/models.yml
  openslides_backend/models/models.py
Labels: backend

#1041 Add GHActions to create issues when files change
  .github/workflows/announce-file-changes-template.md
  .github/workflows/create-issue-for-file-updates.yml
Labels: feature

#1033 Issue995 PR Committe-user rework payload adjustments
  global/meta/models.yml
  openslides_backend/action/actions/committee/committee_common_mixin.py
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/update.py
  openslides_backend/action/actions/user/user_scope_permission_check_mixin.py
  openslides_backend/action/relations/calculated_field_handlers_map.py
  openslides_backend/action/relations/user_committee_calculate_handler.py
  openslides_backend/models/checker.py
  openslides_backend/models/models.py
  tests/system/action/committee/test_create.py
  tests/system/action/committee/test_update.py
  tests/system/action/user/scope_permissions_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_create_delegation.py
  tests/system/action/user/test_update.py
  tests/system/base.py
  tests/unit/test_user_scopes.py
Labels: backend

#1047 Adjust route in prod CI
  .github/workflows/continuous_integration.yml
Labels: bug

#1040 Add chat_group.clear and update permissions of chat_message.create.
  openslides_backend/action/actions/chat_group/__init__.py
  openslides_backend/action/actions/chat_group/clear.py
  openslides_backend/action/actions/chat_message/create.py
  tests/system/action/chat_group/test_clear.py
  tests/system/action/chat_message/test_create.py
Labels: backend

#1051 Fix prod test in CI
  .github/startup_test/docker-compose.yml
  .github/workflows/continuous_integration.yml
Labels: bug, high, blocker

#1028 Fix internal routes & add tests
  .github/workflows/continuous_integration.yml
  README.md
  migrations/__init__.py
  openslides_backend/http/http_exceptions.py
  openslides_backend/http/views/action_view.py
  openslides_backend/http/views/base_view.py
  openslides_backend/main.py
  tests/system/action/agenda_item/test_numbering.py
  tests/system/action/test_general.py
  tests/system/util.py
Labels: bug, high, backend

#1049 Move restrictions of 'topic' and 'mediafile' to A.
  global/meta/models.yml
  openslides_backend/models/models.py
Labels: high, backend

#1055 Issue1031 Remove field motion_state/dont_set_identifier
  global/data/example-data.json
  global/data/initial-data.json
  global/meta/models.yml
  migrations/migrations/0008_remove_field_dont_set_identifier.py
  migrations/tests/test_0008_remove_field_dont_set_identifier.py
  migrations/tests/test_with_sql_dump.py
  openslides_backend/action/actions/motion_state/create.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/models/models.py
  requirements.txt
  tests/system/action/meeting/test_import.py
Labels: backend

#1048 Prevent announce-update job on forks
  .github/workflows/create-issue-for-file-updates.yml
Labels: backend

#1029 Internal action routes
  README.md
  openslides_backend/action/action_handler.py
  openslides_backend/http/views/action_view.py
  tests/system/action/test_action_command_format.py
  tests/system/action/test_internal_actions.py
Labels: high, backend, feature

#1046 Issue1005 cannot remove users from meeting
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/models/checker.py
  tests/system/action/user/test_update.py
Labels: backend

#1060 Issue1050 Look for committee_ids of meetings also in datastore.additional_relation_models
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/relations/user_committee_calculate_handler.py
  tests/system/action/meeting/test_create.py
Labels: high

#1059 Add poll default backend
  global/data/example-data.json
  global/data/initial-data.json
  global/meta/models.yml
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/action/actions/poll/create.py
  openslides_backend/action/actions/poll/update.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_import.py
  tests/system/action/meeting/test_update.py
  tests/system/action/poll/test_create.py
  tests/system/action/poll/test_update.py
Labels: high

#1061 Ignore initial-data-changes in issue generation
  .github/workflows/create-issue-for-file-updates.yml
Labels: documentation

#1068 Fix some import checks
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/models/checker.py
  openslides_backend/models/helper.py
  openslides_backend/services/media/adapter.py
  tests/system/action/meeting/test_clone.py
  tests/system/action/meeting/test_import.py
Labels: bug, high

#1062 Organization enable chat
  global/data/example-data.json
  global/data/initial-data.json
  global/meta/models.yml
  openslides_backend/action/actions/chat_group/mixins.py
  openslides_backend/action/actions/organization/update.py
  openslides_backend/models/models.py
  tests/system/action/chat_group/test_create.py
  tests/system/action/chat_group/test_delete.py
  tests/system/action/chat_group/test_sort.py
  tests/system/action/chat_group/test_update.py
  tests/system/action/organization/test_update.py
Labels: high
