Repository OpenSlides/openslides-backend, pull requests merged in 2021-08, with the labels that each got.

#875 Fix ordering error for calculated field handlers
  openslides_backend/action/generics/delete.py
  openslides_backend/action/relations/calculated_field_handler.py
  openslides_backend/action/relations/meeting_user_ids_handler.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  tests/system/action/agenda_item/test_numbering.py
  tests/system/action/base.py
  tests/system/action/user/test_update.py
Labels: backend, bug

#887 Fix a problem with len and None.
  openslides_backend/action/relations/meeting_user_ids_handler.py
Labels: backend

#888 Enhance models checking and generating
  cli/check_json.py
  cli/generate_models.py
  cli/requirements.txt
  openslides_backend/models/checker.py
  openslides_backend/models/models.py
Labels: backend, high

#886 Update projector.toggle. Add test.
  openslides_backend/action/actions/projector/toggle.py
  tests/system/action/projector/test_toggle.py
Labels: backend

#877 Move user login for presenter
  openslides_backend/http/views.py
  openslides_backend/presenter/base.py
  openslides_backend/presenter/check_mediafile_id.py
  openslides_backend/presenter/presenter.py
  openslides_backend/services/auth/adapter.py
  openslides_backend/services/auth/interface.py
  requirements.txt
  tests/system/presenter/test_check_mediafile_id.py
  tests/system/presenter/test_get_users.py
  tests/unit/test_presenter.py
Labels: backend

#861 Add level and weight to the assigned agenda_items.
  openslides_backend/action/actions/agenda_item/assign.py
  tests/system/action/agenda_item/test_assign.py
Labels: backend

#890 Generate models
  openslides_backend/models/models.py
Labels: backend

#859 Migrations
  .gitignore
  Makefile
  dev/Dockerfile.dev
  dev/docker-compose.dev.yml
  dev/entrypoint.sh
  migrations/.bashrc
  migrations/.dockerignore
  migrations/Dockerfile
  migrations/Makefile
  migrations/README.md
  migrations/docker-compose.yml
  migrations/entrypoint.sh
  migrations/export-data-only.sh
  migrations/export-events.sh
  migrations/import-data-only.sh
  migrations/import-events.sh
  migrations/migrate.py
  migrations/migrations/0001_first_migration.example
  migrations/migrations/__init__.py
  migrations/requirements.txt
  requirements.txt
Labels: backend

#891 Fix cleanup-standalone.sh
  dev/cleanup-standalone.sh
Labels: backend

#889 Add check_permissions to check_mediafile_id
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/permissions/permission_helper.py
  openslides_backend/presenter/check_mediafile_id.py
  tests/system/presenter/test_check_mediafile_id.py
Labels: backend

#892 Add a check for changing oml which are higher than changer got.
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  tests/system/action/user/test_update.py
Labels: backend, bug, high

#895 update Datastore
  requirements.txt
Labels: bug, backend, blocker

#896 Add check calc field to datavalidator.
  openslides_backend/action/actions/mediafile/calculate_mixins.py
  openslides_backend/action/actions/mediafile/create_directory.py
  openslides_backend/action/actions/mediafile/move.py
  openslides_backend/action/actions/mediafile/update.py
  openslides_backend/action/actions/mediafile/upload.py
  openslides_backend/models/checker.py
  openslides_backend/models/helper.py
  tests/system/action/meeting/test_import.py
Labels: backend

#897 Assert migration index at startup
  .github/startup_test/docker-compose.yml
  .github/workflows/continuous_integration.yml
  Dockerfile
  Makefile
  dev/Dockerfile.dev
  dev/docker-compose.dev.yml
  dev/entrypoint.sh
  dev/run-tests.sh
  entrypoint.sh
  migrations/__init__.py
  migrations/migrate.py
  openslides_backend/main.py
  wait.sh
Labels: backend

#903 Updates authlib in the requirements.txt
  requirements.txt
Labels: backend

#879 Agenda item create weight and update sort_tree
  openslides_backend/action/actions/agenda_item/create.py
  openslides_backend/action/mixins/tree_sort_mixin.py
  tests/system/action/agenda_item/test_create.py
  tests/system/action/agenda_item/test_sort.py
  tests/system/action/motion/test_sort.py
  tests/system/action/motion_category/test_sort.py
Labels: backend

#901 First migration for archived meetings
  .github/startup_test/docker-compose.yml
  Makefile
  dev/entrypoint.sh
  migrations/.coveragerc
  migrations/Dockerfile
  migrations/README.md
  migrations/__init__.py
  migrations/cleanup.sh
  migrations/coverage.sh
  migrations/docker-compose.yml
  migrations/fetch-example-data.sh
  migrations/migrations/0001_first_migration.example
  migrations/migrations/0001_limit_of_meetings.py
  migrations/migrations/0002_archive_meetings.py
  migrations/requirements.txt
  migrations/setup.cfg
  migrations/tests/__init__.py
  migrations/tests/conftest.py
  migrations/tests/test_0001_limit_of_meetings.py
  migrations/tests/test_0002_archive_meetings.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/models/checker.py
  openslides_backend/models/models.py
  requirements.txt
  setup.cfg
  tests/system/action/meeting/test_delete.py
  tests/system/action/meeting/test_import.py
  tests/system/base.py
Labels: backend

#898 History information presenter
  openslides_backend/presenter/__init__.py
  openslides_backend/presenter/check_mediafile_id.py
  openslides_backend/presenter/get_history_information.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  tests/system/presenter/base.py
  tests/system/presenter/test_get_history_information.py
Labels: backend

#910 Add a partial flag to the datavalidator
  cli/check_json.py
  openslides_backend/models/checker.py
Labels: backend

#905 Clone meeting
  openslides_backend/action/actions/meeting/__init__.py
  openslides_backend/action/actions/meeting/clone.py
  openslides_backend/action/actions/meeting/export_helper.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/models/checker.py
  openslides_backend/services/media/adapter.py
  openslides_backend/services/media/interface.py
  tests/system/action/meeting/test_clone.py
Labels: backend, feature

#912 Remove permission service url from environment.py and Readme.
  README.md
  openslides_backend/environment.py
Labels: backend, clean up

#913 Add default_meeting_id to get_forwarding_meetings output. Update tests
  openslides_backend/presenter/get_forwarding_meetings.py
  tests/system/presenter/test_get_forwarding_meetings.py
Labels: backend, feature

#902 Changed import format.
  openslides_backend/action/actions/meeting/clone.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_import.py
Labels: backend
