Repository OpenSlides/openslides-backend, pull requests merged in 2021-05, with the labels that each got.

#686 Update committee.update: Add receive_forwardings_from_committee_ids.
  openslides_backend/action/actions/committee/update.py
  tests/system/action/committee/test_update.py
Labels: backend

#698 Add permissions to topic. Add permission tests.
  openslides_backend/action/actions/topic/create.py
  openslides_backend/action/actions/topic/delete.py
  openslides_backend/action/actions/topic/update.py
  tests/system/action/topic/test_create.py
  tests/system/action/topic/test_delete.py
  tests/system/action/topic/test_update.py
Labels: backend, permission

#675 Add organisation tag actions and tests.
  openslides_backend/action/actions/__init__.py
  openslides_backend/action/actions/organisation_tag/__init__.py
  openslides_backend/action/actions/organisation_tag/create.py
  openslides_backend/action/actions/organisation_tag/delete.py
  openslides_backend/action/actions/organisation_tag/update.py
  tests/system/action/organisation_tag/__init__.py
  tests/system/action/organisation_tag/test_create.py
  tests/system/action/organisation_tag/test_delete.py
  tests/system/action/organisation_tag/test_update.py
Labels: backend

#674 Change default value for lock_result to true
  openslides_backend/action/action.py
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/agenda_item/agenda_creation.py
  openslides_backend/action/actions/agenda_item/assign.py
  openslides_backend/action/actions/agenda_item/numbering.py
  openslides_backend/action/actions/assignment_candidate/create.py
  openslides_backend/action/actions/assignment_candidate/delete.py
  openslides_backend/action/actions/list_of_speakers/delete_all_speakers.py
  openslides_backend/action/actions/list_of_speakers/re_add_last.py
  openslides_backend/action/actions/motion/sequential_numbers_mixin.py
  openslides_backend/action/actions/motion_change_recommendation/create_update_delete.py
  openslides_backend/action/actions/motion_workflow/delete.py
  openslides_backend/action/actions/projector/project.py
  openslides_backend/action/actions/speaker/create_update_delete.py
  openslides_backend/action/actions/speaker/end_speech.py
  openslides_backend/action/actions/speaker/speak.py
  openslides_backend/action/actions/user/user_mixin.py
  openslides_backend/action/generics/delete.py
  openslides_backend/action/mixins/create_action_with_inferred_meeting.py
  openslides_backend/action/mixins/linear_sort_mixin.py
  openslides_backend/action/mixins/tree_sort_mixin.py
  openslides_backend/action/relations/meeting_user_ids_handler.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/action/relations/single_relation_handler.py
  openslides_backend/permissions/permission_helper.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  openslides_backend/shared/interfaces/collection_field_lock.py
  tests/system/action/projector/test_delete.py
  tests/system/action/resource/test_upload.py
  tests/system/action/test_action_command_format.py
  tests/system/base.py
  tests/unit/services/test_database_adapter.py
Labels: backend

#687 Update way to generate PermissionDenied message. Refactoring.
  openslides_backend/action/action.py
  openslides_backend/action/actions/assignment_candidate/mixins.py
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion/delete.py
  openslides_backend/action/actions/motion/set_state.py
  openslides_backend/action/actions/poll/mixins.py
  openslides_backend/action/actions/resource/mixins.py
  openslides_backend/action/actions/speaker/create_update_delete.py
  openslides_backend/action/actions/user/set_password_self.py
  openslides_backend/permissions/management_levels.py
  openslides_backend/shared/exceptions.py
  tests/unit/test_permissions.py
Labels: backend

#670 Add draft motion.create_forwarded and tests.
  openslides_backend/action/actions/motion/__init__.py
  openslides_backend/action/actions/motion/create.py
  openslides_backend/action/actions/motion/create_base.py
  openslides_backend/action/actions/motion/create_forwarded.py
  tests/system/action/motion/test_create.py
  tests/system/action/motion/test_create_forwarded.py
Labels: backend, high

#704 Add permissions to motion_change_recommendation.
  openslides_backend/action/actions/motion_change_recommendation/create_update_delete.py
  tests/system/action/motion_change_recommendation/test_create.py
  tests/system/action/motion_change_recommendation/test_delete.py
  tests/system/action/motion_change_recommendation/test_update.py
Labels: backend, permission

#707 Update organisation_tag test_create
  tests/system/action/organisation_tag/test_create.py
Labels: backend

#705 Add permissions for personal notes
  openslides_backend/action/actions/personal_note/create.py
  openslides_backend/action/actions/personal_note/delete.py
  openslides_backend/action/actions/personal_note/mixins.py
  openslides_backend/action/actions/personal_note/update.py
  openslides_backend/models/models.py
  tests/system/action/personal_note/test_create.py
  tests/system/action/personal_note/test_delete.py
  tests/system/action/personal_note/test_update.py
Labels: backend, permission

#706 Permissions meeting easy
  openslides_backend/action/actions/meeting/base_set_mediafile_action.py
  openslides_backend/action/actions/meeting/delete_all_speakers_of_all_lists.py
  openslides_backend/action/actions/meeting/unset_font.py
  openslides_backend/action/actions/meeting/unset_logo.py
  tests/system/action/meeting/test_delete_all_speakers_of_all_lists.py
  tests/system/action/meeting/test_set_font.py
  tests/system/action/meeting/test_set_logo.py
  tests/system/action/meeting/test_unset_font.py
  tests/system/action/meeting/test_unset_logo.py
Labels: backend, permission

#714 Remove surplus TODO comment from fields.py.
  openslides_backend/models/fields.py
Labels: backend

#711 Add permissions to committee, based on pr_709
  openslides_backend/action/action.py
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/committee/delete.py
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/permissions/management_levels.py
  tests/system/action/committee/test_create.py
  tests/system/action/committee/test_delete.py
  tests/system/action/committee/test_update.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/unit/test_permissions.py
Labels: backend, permission

#715 Autogenerate username from first/last name if missing. Add some tests.
  openslides_backend/action/actions/user/create.py
  tests/system/action/user/test_create.py
Labels: backend

#712 Add permissions to meeting.create and meeting.delete. Add tests.
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/meeting/delete.py
  openslides_backend/action/actions/meeting/mixins.py
  openslides_backend/permissions/permission_helper.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_delete.py
Labels: backend, permission

#713 Add permissions to the meeting.update action.
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_update.py
Labels: backend, permission

#717 Update user-altering actions with user scope permission check
  cli/generate_permissions.py
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/meeting/mixins.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/action/actions/user/delete.py
  openslides_backend/action/actions/user/generate_new_password.py
  openslides_backend/action/actions/user/reset_password_to_default.py
  openslides_backend/action/actions/user/set_password.py
  openslides_backend/action/actions/user/user_scope_permission_check_mixin.py
  openslides_backend/permissions/base_classes.py
  openslides_backend/permissions/management_levels.py
  openslides_backend/permissions/permission_helper.py
  openslides_backend/permissions/permissions.py
  openslides_backend/shared/exceptions.py
  tests/system/action/assignment_candidate/test_create.py
  tests/system/action/assignment_candidate/test_delete.py
  tests/system/action/base.py
  tests/system/action/committee/test_create.py
  tests/system/action/committee/test_delete.py
  tests/system/action/committee/test_update.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_delete.py
  tests/system/action/motion/test_create.py
  tests/system/action/organisation_tag/test_create.py
  tests/system/action/organisation_tag/test_delete.py
  tests/system/action/organisation_tag/test_update.py
  tests/system/action/tag/test_create.py
  tests/system/action/test_permissions.py
  tests/system/action/user/scope_permissions_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_delete.py
  tests/system/action/user/test_generate_new_password.py
  tests/system/action/user/test_merge_to_non_temporary.py
  tests/system/action/user/test_reset_password_to_default.py
  tests/system/action/user/test_set_password.py
  tests/system/action/user/test_update.py
  tests/unit/test_permissions.py
  tests/unit/test_user_scopes.py
Labels: backend, permission

#727 Add set organisation_tag_ids to committee.create and meeting.create.
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/meeting/create.py
  tests/system/action/committee/test_create.py
  tests/system/action/meeting/test_create.py
Labels: backend

#718 Update user self actions and update tests.
  openslides_backend/action/actions/user/set_password_self.py
  openslides_backend/action/actions/user/update_self.py
  tests/system/action/user/test_set_password_self.py
  tests/system/action/user/test_update_self.py
Labels: backend

#724 Use a CalculatedFieldHandler to calculate user.meeting_ids.
  openslides_backend/action/relations/calculated_field_handlers_map.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/action/relations/user_meeting_ids_handler.py
  tests/system/action/base.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_delegation.py
  tests/system/relations/test_template_fields.py
Labels: backend

#729 Add anonymous check & fix OML check for resources
  openslides_backend/action/action.py
  openslides_backend/action/actions/personal_note/mixins.py
  openslides_backend/action/actions/resource/mixins.py
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/action/actions/user/set_password_self.py
  openslides_backend/action/actions/user/update_self.py
  openslides_backend/shared/exceptions.py
  tests/system/action/base.py
  tests/system/action/personal_note/test_create.py
  tests/system/action/personal_note/test_delete.py
  tests/system/action/personal_note/test_update.py
  tests/system/action/resource/test_delete.py
  tests/system/action/resource/test_upload.py
  tests/system/action/tag/test_create.py
  tests/system/action/test_permissions.py
  tests/system/action/user/scope_permissions_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_set_password_self.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_self.py
Labels: backend, bug, clean up

#730 Add _missing_ method to ManagementLevels and remove no_right from code
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/permissions/management_levels.py
  openslides_backend/permissions/permission_helper.py
  tests/unit/test_management_levels.py
Labels: backend

#688 Add handling of lead_motion_id for motion.create. Add a test.
  openslides_backend/action/actions/motion/create.py
  tests/system/action/motion/test_create.py
Labels: backend

#732 Add note field to speaker.create
  openslides_backend/action/actions/speaker/create_update_delete.py
  tests/system/action/speaker/test_create.py
  tests/system/action/speaker/test_create_point_of_order.py
Labels: backend

#726 Add auto-calculated fields to poll.stop.
  openslides_backend/action/actions/poll/stop.py
  tests/system/action/poll/test_stop.py
Labels: backend

#733 Generalize projector.toggle_stable to projector.toggle
  openslides_backend/action/actions/projector/__init__.py
  openslides_backend/action/actions/projector/toggle.py
  tests/system/action/projector/test_toggle.py
Labels: backend
