Repository OpenSlides/openslides-backend, pull requests merged in 2021-09, with the labels that each got.

#920 OS4-dev to master
  cli/generate_models.py
  cli/generate_permissions.py
  migrations/fetch-example-data.sh
Labels: high, backend

#911 Action user.send_invitation_email implemented
  Dockerfile
  dev/Dockerfile.dev
  dev/requirements_development.txt
  openslides_backend/action/actions/user/__init__.py
  openslides_backend/action/actions/user/helper.py
  openslides_backend/action/actions/user/send_invitation_email.py
  openslides_backend/action/mixins/send_email_mixin.py
  requirements.txt
  setup.cfg
  tests/system/action/mail_base.py
  tests/system/action/test_send_email_mixin.py
  tests/system/action/user/test_send_invitation_email.py
Labels: backend

#922 Fix problem with organization_tag.
  openslides_backend/action/actions/meeting/clone.py
  tests/system/action/meeting/test_clone.py
Labels: bug, high, backend

#923 Add the user.toggle_presence_by_number action.
  openslides_backend/action/actions/user/__init__.py
  openslides_backend/action/actions/user/toggle_presence_by_number.py
  tests/system/action/user/test_toggle_presence_by_number.py
Labels: high, backend, feature

#926 Add permissions to meeting.clone.
  openslides_backend/action/actions/meeting/clone.py
  tests/system/action/meeting/test_clone.py
Labels: backend

#932 Add motion_workflow.import action and tests.
  openslides_backend/action/actions/motion_workflow/__init__.py
  openslides_backend/action/actions/motion_workflow/import_.py
  tests/system/action/motion_workflow/test_import.py
Labels: backend, feature

#933 Issue899 archive meetings
  cli/check_json.py
  openslides_backend/action/actions/meeting/__init__.py
  openslides_backend/action/actions/meeting/archive.py
  openslides_backend/action/actions/meeting/clone.py
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/meeting/import_.py
  openslides_backend/action/actions/meeting/unarchive.py
  openslides_backend/action/actions/organization/update.py
  openslides_backend/models/checker.py
  tests/system/action/base.py
  tests/system/action/meeting/test_archive.py
  tests/system/action/meeting/test_clone.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_import.py
  tests/system/action/meeting/test_unarchive.py
  tests/system/action/organization/test_update.py
Labels: backend

#934 Improve the committee delete error message.
  openslides_backend/action/actions/committee/delete.py
  tests/system/action/committee/test_delete.py
Labels: backend

#935 Issue928: Handle organization_tags in meeting clone
  openslides_backend/action/actions/meeting/clone.py
  openslides_backend/presenter/get_forwarding_meetings.py
  tests/system/action/meeting/test_clone.py
  tests/system/presenter/test_get_forwarding_meetings.py
Labels: backend

#938 Handle template field with None value in checker.
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_clone.py
Labels: bug, high, backend

#936 Add create_action_result_element to toggle_presence_by_number
  openslides_backend/action/actions/user/toggle_presence_by_number.py
  tests/system/action/user/test_toggle_presence_by_number.py
Labels: backend

#940 Issue939 Complex motion workflow
  migrations/migrations/0003_motion_state_dont_set_identifier.py
  migrations/tests/test_0003_motion_state_dont_set_identifier.py
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/action/actions/motion_state/create_update_delete.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_import.py
Labels: backend

#945 Issue939: Fix important typo and instrumentalize migrations for testing with de…
  migrations/Dockerfile
  migrations/docker-compose.yml
  migrations/requirements.txt
  migrations/tests/test_0003_motion_state_dont_set_identifier.py
Labels: backend

#943 #944: Adds the permission 'motion.can_forward_into_this_meeting'
  openslides_backend/action/actions/motion/create_forwarded.py
  openslides_backend/models/models.py
  openslides_backend/permissions/permissions.py
  tests/system/action/motion/test_create_forwarded.py
Labels: backend

#950 #944: Updates the presenter for the new perm
  openslides_backend/presenter/get_forwarding_meetings.py
Labels: backend

#949 user.scope and archived meetings
  openslides_backend/action/actions/user/user_scope_permission_check_mixin.py
  tests/system/action/base.py
  tests/system/action/mail_base.py
  tests/system/action/user/scope_permissions_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/unit/test_user_scopes.py
Labels: backend
