Repository OpenSlides/openslides-backend, pull requests merged in 2021-06, with the labels that each got.

#735 Add permissions to organisation.update.
  openslides_backend/action/actions/organisation/update.py
  openslides_backend/models/models.py
  tests/system/action/organisation/test_update.py
Labels: backend, permission

#737 Allow poll.publish in started state.
  openslides_backend/action/actions/poll/mixins.py
  openslides_backend/action/actions/poll/publish.py
  openslides_backend/action/actions/poll/stop.py
  tests/system/action/poll/test_publish.py
Labels: backend

#738 Generate the new permissions.py and remove can_change_own_password.
  openslides_backend/permissions/permissions.py
Labels: backend

#702 Fix: Update the setting 'list of speakers is initially closed'
  openslides_backend/action/actions/meeting/update.py
Labels: backend

#736 Add permissions to user.set_present. Update tests.
  openslides_backend/action/actions/user/set_present.py
  tests/system/action/user/test_set_present.py
Labels: backend, permission

#731 Remove permission service
  openslides_backend/action/action.py
  openslides_backend/action/actions/poll/vote.py
  openslides_backend/presenter/base.py
  openslides_backend/services/permission/__init__.py
  openslides_backend/services/permission/adapter.py
  openslides_backend/services/permission/interface.py
  openslides_backend/shared/interfaces/services.py
  openslides_backend/wsgi.py
  tests/system/action/test_create_relation.py
  tests/system/action/test_delete_cascade.py
  tests/system/action/test_equal_fields_check.py
  tests/system/action/test_update_relation.py
  tests/system/relations/setup.py
  tests/system/util.py
Labels: backend, permission

#746 Fixed missed places with organization spelling
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/committee/delete.py
  openslides_backend/action/actions/committee/update.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/action/actions/organization/update.py
  openslides_backend/action/actions/organization_tag/create.py
  openslides_backend/action/actions/organization_tag/delete.py
  openslides_backend/action/actions/organization_tag/update.py
  openslides_backend/action/actions/resource/mixins.py
  openslides_backend/permissions/management_levels.py
  tests/system/action/meeting/test_update.py
  tests/system/action/organization/test_update.py
  tests/system/action/resource/test_delete.py
  tests/system/action/resource/test_upload.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/unit/test_management_levels.py
Labels: backend

#740 Update speaker.update with speech_state and permissions, update tests.
  openslides_backend/action/actions/speaker/__init__.py
  openslides_backend/action/actions/speaker/create.py
  openslides_backend/action/actions/speaker/delete.py
  openslides_backend/action/actions/speaker/update.py
  tests/system/action/speaker/test_update.py
Labels: backend

#743 Use permissions enums in meeting.create
  openslides_backend/action/actions/meeting/create.py
  tests/system/action/meeting/test_create.py
Labels: backend

#744 Add user_ids to meeting.create. Add two tests.
  openslides_backend/action/actions/meeting/create.py
  tests/system/action/meeting/test_create.py
Labels: backend

#723 Issue680/1 user.create/update
  openslides_backend/action/actions/user/create.py
  openslides_backend/action/actions/user/create_update_permissions_mixin.py
  openslides_backend/action/actions/user/delete.py
  openslides_backend/action/actions/user/update.py
  openslides_backend/action/actions/user/user_scope_permission_check_mixin.py
  openslides_backend/models/models.py
  tests/system/action/base.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
Labels: backend, permission

#753 Fix a bug: clean voted_ids at poll.reset. Add a test.
  openslides_backend/action/actions/poll/reset.py
  tests/system/action/poll/test_reset.py
Labels: backend, bug

#756 Rm some fields from the meeting actions.
  openslides_backend/action/actions/meeting/create.py
  tests/system/action/meeting/test_create.py
Labels: backend, bug, high

#757 Add chat_group actions. Add tests.
  openslides_backend/action/actions/__init__.py
  openslides_backend/action/actions/chat_group/__init__.py
  openslides_backend/action/actions/chat_group/create.py
  openslides_backend/action/actions/chat_group/delete.py
  openslides_backend/action/actions/chat_group/mixins.py
  openslides_backend/action/actions/chat_group/sort.py
  openslides_backend/action/actions/chat_group/update.py
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/models/models.py
  openslides_backend/permissions/permissions.py
  tests/system/action/chat_group/__init__.py
  tests/system/action/chat_group/test_create.py
  tests/system/action/chat_group/test_delete.py
  tests/system/action/chat_group/test_sort.py
  tests/system/action/chat_group/test_update.py
  tests/system/action/meeting/test_update.py
Labels: backend

#763 Fix action response
  openslides_backend/action/action.py
  openslides_backend/action/action_handler.py
  tests/system/action/base.py
  tests/system/action/mediafile/test_delete.py
Labels: backend, bug

#725 Check for deleted model fields in the code.
  openslides_backend/action/actions/motion_submitter/create.py
  openslides_backend/action/actions/user/__init__.py
  openslides_backend/action/actions/user/check_temporary_mixin.py
  openslides_backend/action/actions/user/generate_new_password.py
  openslides_backend/action/actions/user/merge_together.py
  openslides_backend/action/actions/user/reset_password_to_default.py
  openslides_backend/action/actions/user/set_password.py
  openslides_backend/action/actions/user/temporary_user_mixin.py
  openslides_backend/action/actions/user/user_mixin.py
  openslides_backend/action/relations/meeting_user_ids_handler.py
  openslides_backend/permissions/permission_helper.py
  tests/system/action/user/test_create_delegation.py
  tests/system/action/user/test_merge_together.py
  tests/system/action/user/test_update_delegation.py
Labels: backend

#771 Adapt datastore MODEL_LOCKED error
  openslides_backend/services/datastore/adapter.py
  tests/system/action/resource/test_upload.py
  tests/system/action/speaker/test_create.py
  tests/system/action/test_action_command_format.py
  tests/system/action/topic/test_create.py
Labels: backend

#775 Issue774:Remove user.create check for OML, CML or group-permission
  openslides_backend/action/actions/user/create.py
  tests/system/action/user/test_create.py
Labels: backend

#779 Issue767_Choose_correct_to_field_from_multiple
  openslides_backend/action/relations/single_relation_handler.py
  tests/system/action/agenda_item/test_create.py
Labels: backend

#780 Issue765 custom translation only in meeting
  openslides_backend/action/actions/meeting/update.py
  openslides_backend/action/actions/organization/update.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_update.py
  tests/system/action/organization/test_update.py
Labels: backend

#776 Fix model locked error
  openslides_backend/action/action_handler.py
  openslides_backend/action/actions/option/update.py
  openslides_backend/services/datastore/adapter.py
  openslides_backend/services/datastore/interface.py
  tests/system/action/option/test_update.py
  tests/system/action/resource/test_upload.py
  tests/system/action/speaker/test_create.py
  tests/system/action/test_action_command_format.py
  tests/system/action/topic/test_create.py
Labels: backend, bug

#781 Add mimtypes ttf, otf, 7z, odt, ods for mediafile and resource upload
  Dockerfile
  dev/Dockerfile-dev
  openslides_backend/action/actions/meeting/set_font.py
  tests/system/action/mediafile/test_upload.py
  tests/system/action/resource/test_upload.py
Labels: backend

#787 Add handling for not given access_group_ids for create_directory
  openslides_backend/action/actions/mediafile/calculate_mixins.py
  openslides_backend/action/actions/mediafile/create_directory.py
  tests/system/action/mediafile/test_create_directory.py
Labels: backend

#793 Allow arrays in JSON fields
  openslides_backend/models/fields.py
  tests/unit/test_action.py
  tests/unit/test_filters.py
  tests/unit/test_model.py
Labels: backend

#788 Issue778 772 committee fields and permissions
  openslides_backend/action/actions/committee/committee_common_mixin.py
  openslides_backend/action/actions/committee/create.py
  openslides_backend/action/actions/committee/update.py
  tests/system/action/committee/test_create.py
  tests/system/action/committee/test_update.py
Labels: backend

#797 Add tests for poll.cretae fields min/max_votes_amount
  tests/system/action/poll/test_create.py
Labels: backend

#794 Fix meeting creation with multiple users
  openslides_backend/action/actions/user/user_mixin.py
  openslides_backend/action/mixins/create_action_with_inferred_meeting.py
  openslides_backend/action/relations/relation_manager.py
  openslides_backend/services/datastore/adapter.py
  tests/system/action/meeting/test_create.py
Labels: backend

#795 Fix model locked errors & add tests
  openslides_backend/action/actions/motion/set_state.py
  openslides_backend/services/datastore/adapter.py
  tests/system/action/motion/test_update_with_other_actions.py
  tests/system/action/speaker/test_create.py
Labels: backend

#792 Update min/max check of poll.vote.
  openslides_backend/action/actions/poll/vote.py
  tests/system/action/poll/test_vote.py
Labels: backend, bug

#804 Adjust committee.update permissions.
  openslides_backend/action/actions/committee/update.py
  tests/system/action/committee/test_update.py
Labels: backend, permission

#803 Prevent username which can be fully striped.
  openslides_backend/action/actions/user/user_mixin.py
  tests/system/action/user/test_create.py
  tests/system/action/user/test_update.py
  tests/system/action/user/test_update_self.py
Labels: backend

#806 Add missing property to meeting.update.
  openslides_backend/action/actions/meeting/update.py
  tests/system/action/meeting/test_update.py
Labels: backend, bug
