Repository OpenSlides/openslides-backend, pull requests merged in 2021-10, with the labels that each got.

#959 Fix problem with agenda_create in datastore.
  openslides_backend/action/actions/agenda_item/agenda_creation.py
  tests/system/action/motion/test_create.py
Labels: bug, backend, critical

#961 Fix problem with poll create. Options shouldn't be in the instance.
  openslides_backend/action/actions/poll/create.py
  tests/system/action/poll/test_create.py
Labels: bug, backend, critical

#954 Update clone meeting action to use duplicate mediafile.
  openslides_backend/action/actions/mediafile/upload.py
  openslides_backend/action/actions/meeting/clone.py
  openslides_backend/action/actions/meeting/export_helper.py
  openslides_backend/services/media/adapter.py
  openslides_backend/services/media/interface.py
  tests/system/action/mediafile/test_upload.py
  tests/system/action/meeting/test_clone.py
Labels: backend

#952 Fix user extraction in meeting.create
  openslides_backend/action/actions/meeting/create.py
  openslides_backend/models/checker.py
  tests/system/action/meeting/test_clone.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_import.py
Labels: bug, high, backend

#967 Add weight to motion state
  migrations/migrations/0004_add_motion_state_weight.py
  migrations/tests/test_0003_motion_state_dont_set_identifier.py
  migrations/tests/test_0004_add_motion_state_weight.py
  openslides_backend/action/actions/motion_state/__init__.py
  openslides_backend/action/actions/motion_state/create.py
  openslides_backend/action/actions/motion_state/create_update_delete.py
  openslides_backend/action/actions/motion_state/delete.py
  openslides_backend/action/actions/motion_state/update.py
  openslides_backend/action/actions/motion_workflow/create.py
  openslides_backend/action/actions/motion_workflow/import_.py
  openslides_backend/models/models.py
  tests/system/action/meeting/test_clone.py
  tests/system/action/meeting/test_create.py
  tests/system/action/meeting/test_import.py
  tests/system/action/motion_state/test_create.py
  tests/system/action/motion_workflow/test_create.py
  tests/system/base.py
Labels: high, backend

#968 Add a suffix to the meeting name in the clone action.
  openslides_backend/action/actions/meeting/clone.py
  tests/system/action/meeting/test_clone.py
Labels: high, backend

#981 Issue975 Don't check for committee membership on removing cml-rights
  openslides_backend/action/actions/user/update.py
  tests/system/action/meeting/test_clone.py
Labels: backend

#989 Issue978 Catch internal smtplib error
  openslides_backend/action/actions/user/send_invitation_email.py
Labels: backend

#984 Add presenter get user related models
  openslides_backend/presenter/__init__.py
  openslides_backend/presenter/get_user_related_models.py
  tests/system/presenter/test_get_user_related_models.py
Labels: backend, feature
